<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="sidebar-header">
            <h1 class="d-flex justify-content-center align-items-center h2 text-white">Меню</h1>
        </div>
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
            <li class="nav-item">
                <a @click="goToAcct" class="nav-link active text-white" style="cursor: pointer;">
                <span>Счета</span>
                </a>
            </li>
            <li class="nav-item">
                <a @click="goToOp" class="nav-link text-white" style="cursor: pointer;">
                <span>
                    Операции
                </span>
                </a>
            </li>
            <li class="nav-item">
                <a @click="goToOpDays" class="nav-link text-white" style="cursor: pointer;">
                <span>Операционные дни</span>
                </a>
            </li>
            </ul>
        </div>
        </nav>
    
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background: #f3f8fb; height: 100vh;">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Рабочая панель</h1>               
        </div>
            <router-view/>
        </main>
    </div>
</div>